{
    "DATABASE": {
        "URI": "mongodb://localhost:27017/crucible"
    },
    "SERVER": {
        "PORT": 8080
    },
    "MANTA": {
        "ENABLED": true,
        "HOST_URL": "https://stluc.manta.uqcloud.net",
        "HOST_FOLDER": "~~/public/chemistryhub",
        "UPLOAD_SUBFOLDER": {
            "CONTENT": "content",
            "THUMBNAIL": "thumbnail",
            "EDITOR_IMAGES": "editor-images"
        },
        "KEY_PATH": "/var/www/safs-key.id_rsa",
        "KEY_ID": "72:8a:76:ac:32:84:5a:29:39:7d:28:b9:3b:df:66:0b",
        "USER": "elipse",
        "SUBUSER": "safs",
        "ROLES": []
    },
    "MANTA_OPERATION": {
        "JOB_CHECK_TRIES": 50
    },
    "AUTH": {
        "SESSION_SECRET": "SECRET",
        "PASSWORD_HASH_ROUNDS": 10,
        "UQSSO_SERVER_DOMAIN": "safshub.uqcloud.net",
        "UQSSO_SERVER_PROTOCOL": "https"
    },
    "SESSION": {
        "COLLECTION": "Session",
        "EXPIRATION_TIME": 1209600
    }
}

