.welcome {
	padding: 7rem;

	display: flex;

	justify-content: center;
	align-items: center;

	background-position: center;
	background-size: cover;
	height: 100vh;
}

.welcome.imgcolor {
	background: black;
}

/* Add .welcome.img* for additional background images. Make sure to change the NUM_SPLASH_IMAGES config value in config/config.json */
.welcome.img0 {
	background-image: url(@/assets/splash-images/1.png);
}

.inner-container {
	position: relative;
	padding: 2rem;
	background: rgba(255, 255, 255, 0.1);
	border: 0.05rem solid #ddd;
	border-radius: 0.5rem;
	box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.2);
	text-align: center;

	max-width: 100em;

	/** IE specific fixes **/
	/* Fixes unbounded container width */
	min-width: 1px;
}

h1 {
	margin: 0.5em 1em;
}

ul.collection-roots {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	padding: 0;
	margin: 0;

	max-height: 50vh;
	overflow-y: auto;
}

ul.collection-roots > li {
	display: block;
	margin: 0.5em;
	position: relative;
}

ul.collection-roots > li > a {
	display: block;

	/* 16:9 thumbnail standard ratio */
	width: 19.2em;
	height: 10.8em;

	background-color: #49075e;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: #fff;
	transition: background-color 200ms linear;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-decoration: none;
	outline: 0.2rem solid rgba(0, 0, 0, 0.1);
}

ul.collection-roots > li > a > span {
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: 0.5rem 0.7rem;
}

ul.collection-roots > li > a:active,
ul.collection-roots > li > a:focus {
	outline-color: #162a9b;
}

ul.collection-roots > li > a:hover {
	background-color: #350635;
}

ul.collection-roots > li > a:hover > span {
	background: rgba(0, 0, 0, 0.9);
}

.edit-controls {
	display: inline-block;
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	margin: 0;
	color: #000;
}

.edit-controls > li {
	display: inline-block;
	padding: 0.5rem;
}

.edit-controls > li > a {
	display: inline-block;
	text-decoration: none;
}

/* Mobile Styles */

.viewport-mobile .welcome {
	padding: 1rem;
	flex-direction: column;
	overflow: auto;
}

.viewport-mobile .inner-container {
	padding: 1rem;
	overflow: auto;
}

.viewport-mobile ul.collection-roots {
	overflow-y: initial;
}

.viewport-mobile ul.collection-roots > li > a {
	width: 18em;
	height: 9em;
}

.viewport-mobile h1 {
	font-size: 2em;
}

/* Tablet Styles */

.viewport-tablet .welcome {
	overflow: auto;
	padding: 2rem;
}

.viewport-tablet .inner-container {
	padding: 1rem;
	overflow: auto;
}
