name: CI/CD Pipeline
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-20.04
    container:
      image: node:16

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up SSH
        run: |
          mkdir -p /github/home/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > /github/home/.ssh/id_rsa
          chmod 600 /github/home/.ssh/id_rsa
          echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > /github/home/.ssh/config
          ssh-keyscan -t rsa github.com >> /github/home/.ssh/known_hosts
          eval $(ssh-agent)
          ssh-add /github/home/.ssh/id_rsa

      - name: Install jq (for JSON parsing)
        run: |
          wget -O jq https://github.com/stedolan/jq/releases/download/jq-1.6/jq-linux64
          chmod +x ./jq
          mv jq /usr/local/bin

      - name: Prepare build and Deploy
        run: |
          apt-get update && apt-get install gettext-base
          npm install -g git+https://github.com/eait-itig/node-triton#eait
          npm install -g manta
          triton profile create -f .triton.json
          export MANTA_URL=https://stluc.manta.uqcloud.net
          eval $(ssh-agent)
          ssh-add /github/home/.ssh/id_rsa
          SERVERS=$(echo '${{ vars.PROD_VARS }}' | jq -r 'keys[]')
          for SERVER in $SERVERS; do
            SERVER_VARS=$(echo '${{ vars.PROD_VARS }}' | jq -r --arg SERVER "$SERVER" '.[$SERVER]')
            export API_URL=$(echo $SERVER_VARS | jq -r '.API_URL')
            IFS=
            export APP_NAME=$(echo $SERVER_VARS | jq -r '.APP_NAME')
            export HEADER_TEXT=$(echo $SERVER_VARS | jq -r '.HEADER_TEXT')
            unset IFS
            export MANTA_FOLDER=$(echo $SERVER_VARS | jq -r '.MANTA_FOLDER')
            export MANTA_HOST=$(echo $SERVER_VARS | jq -r '.MANTA_HOST')
            export MANTA_SUBUSER=$(echo $SERVER_VARS | jq -r '.MANTA_SUBUSER')
            export MANTA_USER=$(echo $SERVER_VARS | jq -r '.MANTA_USER')
            export ZONE_NAME=$(echo $SERVER_VARS | jq -r '.ZONE_NAME')
            export ZONE_TAG=$(echo $SERVER_VARS | jq -r '.ZONE_TAG')
            export MANTA_KEY_ID=$(echo $SERVER_VARS | jq -r '.MANTA_KEY_ID')
            export MANTA_KEY_LOCATION=$(echo $SERVER_VARS | jq -r '.MANTA_KEY_LOCATION')  
            mkdir tmp
            mkdir tmp/server && mkdir tmp/client
            cd server
            yarn
            cd config
            cat production.config.ci | envsubst > production.json
            cd ../
            yarn build
            cp -R dist/ node_modules/ config/ package.json ../tmp/server
            cd ../client

            echo $APP_NAME
            echo $API_URL
            echo $HEADER_TEXT
            cat config.json.prod.example | envsubst > config.json

            cat config.json
            yarn
            yarn build
            cp -R node_modules/ config.json dist/
            cp -R dist/ ../tmp/client
            cd ../ && tar -czvf $SERVER-crucible.tar.gz tmp/

            mv $SERVER-crucible.tar.gz deploy-$SERVER-${{github.run_number}}.tar.gz
            mput --account=elipse --subuser=piper --keyId=9f:ba:e6:b5:7d:81:b6:2c:3c:df:03:6f:ad:92:35:cf --role-tag=bitbucket-pipe -f deploy-$SERVER-${{github.run_number}}.tar.gz /elipse/stor/builds/
            export TARBALL="$(msign --account=elipse --subuser=piper --keyId=9f:ba:e6:b5:7d:81:b6:2c:3c:df:03:6f:ad:92:35:cf --role-tag=bitbucket-pipe /elipse/stor/builds/deploy-$SERVER-${{github.run_number}}.tar.gz)"
            triton --act-as=elipse --account=elipse --url=https://cloudapi.gps-1.uqcloud.net --user=piper --keyId=9f:ba:e6:b5:7d:81:b6:2c:3c:df:03:6f:ad:92:35:cf inst exec $ZONE_NAME -- /bin/sh -c "cd /opt/ && rm -rf tmp && mkdir tmp/ &&
                    curl \"${TARBALL}\" | tar -C tmp/ -zxvf - &&
                    rm -rf /opt/server && cp -R /opt/tmp/tmp/server /opt && rm -rf /var/www/client && cp -R /opt/tmp/tmp/client /var/www/ &&
                    systemctl restart crucible"
          done
