name: CI/CD Pipeline
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-20.04
    container:
      image: node:16

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up SSH
        run: |
          mkdir -p /github/home/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > /github/home/.ssh/id_rsa
          chmod 600 /github/home/.ssh/id_rsa
          echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > /github/home/.ssh/config
          ssh-keyscan -t rsa github.com >> /github/home/.ssh/known_hosts
          eval $(ssh-agent)
          ssh-add /github/home/.ssh/id_rsa

      - name: Install jq (for JSON parsing)
        run: |
          wget -O jq https://github.com/stedolan/jq/releases/download/jq-1.6/jq-linux64
          chmod +x ./jq
          mv jq /usr/local/bin

      - name: Decode and Parse JSON Secret
        id: parse_json
        run: |
          echo "::set-output name=config::$(echo '${{ vars.PROD_VARS }}' | jq .)"
        shell: bash

      - name: Prepare build and Deploy
        run: |
          SERVERS=$(echo '${{ vars.PROD_VARS }}' | jq -r 'keys[]')
          for SERVER in $SERVERS; do
            API_URL=$(echo '${{ vars.PROD_VARS }}' | jq -r --arg SERVER "$SERVER" '.[$SERVER].API_URL')
            APP_NAME=$(echo '${{ vars.PROD_VARS }}' | jq -r --arg SERVER "$SERVER" '.[$SERVER].APP_NAME')
            HEADER_TEXT=$(echo '${{ vars.PROD_VARS }}' | jq -r --arg SERVER "$SERVER" '.[$SERVER].HEADER_TEXT')
            MANTA_FOLDER=$(echo '${{ vars.PROD_VARS }}' | jq -r --arg SERVER "$SERVER" '.[$SERVER].MANTA_FOLDER')
            MANTA_HOST=$(echo '${{ vars.PROD_VARS }}' | jq -r --arg SERVER "$SERVER" '.[$SERVER].MANTA_HOST')
            MANTA_SUBUSER=$(echo '${{ vars.PROD_VARS }}' | jq -r --arg SERVER "$SERVER" '.[$SERVER].MANTA_SUBUSER')
            MANTA_USER=$(echo '${{ vars.PROD_VARS }}' | jq -r --arg SERVER "$SERVER" '.[$SERVER].MANTA_USER')
            ZONE_NAME=$(echo '${{ vars.PROD_VARS }}' | jq -r --arg SERVER "$SERVER" '.[$SERVER].ZONE_NAME')
            ZONE_TAG=$(echo '${{ vars.PROD_VARS }}' | jq -r --arg SERVER "$SERVER" '.[$SERVER].ZONE_TAG')
            MANTA_KEY_ID=$(echo '${{ vars.PROD_VARS }}' | jq -r --arg SERVER "$SERVER" '.[$SERVER].MANTA_KEY_ID')
            MANTA_KEY_LOCATION=$(echo '${{ vars.PROD_VARS }}' | jq -r --arg SERVER "$SERVER" '.[$SERVER].MANTA_KEY_LOCATION')
            apt-get update && apt-get install gettext-base
            mkdir tmp
            mkdir tmp/server && mkdir tmp/client
            cd server
            yarn
            cd config
            cat production.config.ci | envsubst > production.json
            cd ../
            yarn build
            cp -R dist/ node_modules/ config/ package.json ../tmp/server
            cd ../client
            cat config.json.prod.example | envsubst > config.json
            yarn
            yarn build
            cp -R node_modules/ config.json dist/
            cp -R dist/ ../tmp/client
            cd ../ && tar -czvf $SERVER-crucible.tar.gz tmp/

            npm install -g git+https://github.com/eait-itig/node-triton#eait
            npm install -g manta
            triton profile create -f .triton.json || true
            export MANTA_URL=https://stluc.manta.uqcloud.net
            eval $(ssh-agent)
            ssh-add /github/home/.ssh/id_rsa
            mv $SERVER-crucible.tar.gz deploy-$SERVER-${{github.run_number}}.tar.gz
            mput --account=elipse --subuser=piper --keyId=9f:ba:e6:b5:7d:81:b6:2c:3c:df:03:6f:ad:92:35:cf --role-tag=bitbucket-pipe -f deploy-$SERVER-${{github.run_number}}.tar.gz /elipse/stor/builds/
            export TARBALL="$(msign --account=elipse --subuser=piper --keyId=9f:ba:e6:b5:7d:81:b6:2c:3c:df:03:6f:ad:92:35:cf --role-tag=bitbucket-pipe /elipse/stor/builds/deploy-$SERVER-${{github.run_number}}.tar.gz)"
            triton --act-as=elipse -a elipse -U https://cloudapi.gps-1.uqcloud.net -u piper -k 9f:ba:e6:b5:7d:81:b6:2c:3c:df:03:6f:ad:92:35:cf inst exec $ZONE_NAME -- /bin/sh -c "cd /opt/ && rm -rf tmp && mkdir tmp/ &&
                    curl \"${TARBALL}\" | tar -C tmp/ -zxvf - &&
                    rm -rf /opt/server && cp -R /opt/tmp/tmp/server /opt && rm -rf /var/www/client && cp -R /opt/tmp/tmp/client /var/www/ &&
                    systemctl restart crucible"
          done
