name: CI/CD Pipeline

on:
  push:
    branches:
      - develop

jobs:
  build-and-deploy:
    runs-on: ubuntu-20.04
    container:
      image: node:16

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up SSH
      run: |
        mkdir -p /github/home/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > /github/home/.ssh/id_rsa
        chmod 600 /github/home/.ssh/id_rsa
        echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > /github/home/.ssh/config
        ssh-keyscan -t rsa github.com >> /github/home/.ssh/known_hosts
        eval $(ssh-agent)
        ssh-add /github/home/.ssh/id_rsa

    - name: Prepare build
      run: |
        apt-get update && apt-get install gettext-base
        mkdir tmp
        mkdir tmp/server && mkdir tmp/client
        cd server
        yarn
        cd config
        cat production.config.ci | envsubst > production.json
        cd ../
        yarn build
        cp -R dist/ node_modules/ config/ package.json ../tmp/server
        cd ../client
        cat config.json.prod.example | envsubst > config.json
        yarn
        yarn build
        cp -R node_modules/ config.json dist/
        cp -R dist/ ../tmp/client
        cd ../ && tar -czvf crucible.tar.gz tmp/

    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: crucible.tar.gz
        path: crucible.tar.gz

    - name: Deploy to zone
      run: |
        npm install -g git+https://github.com/eait-itig/node-triton#eait
        npm install -g manta
        triton profile create -f .triton.json || true
        export MANTA_URL=https://stluc.manta.uqcloud.net
        eval $(ssh-agent)
        ssh-add /github/home/.ssh/id_rsa
        mv crucible.tar.gz deploy-849479324.tar.gz
        mput --account=elipse --subuser=piper --keyId=9f:ba:e6:b5:7d:81:b6:2c:3c:df:03:6f:ad:92:35:cf --role-tag=bitbucket-pipe -f deploy-849479324.tar.gz /elipse/stor/builds/
        export TARBALL="$(msign --account=elipse --subuser=piper --keyId=9f:ba:e6:b5:7d:81:b6:2c:3c:df:03:6f:ad:92:35:cf --role-tag=bitbucket-pipe /elipse/stor/builds/deploy-849479324.tar.gz)"
        triton --act-as=elipse -a elipse -U https://cloudapi.gps-1.uqcloud.net -u piper -k 9f:ba:e6:b5:7d:81:b6:2c:3c:df:03:6f:ad:92:35:cf inst exec $ZONE_NAME -- /bin/sh -c "cd /opt/ && rm -rf tmp && mkdir tmp/ &&
          curl https://stluc.manta.uqcloud.net/elipse/stor/builds/deploy-849479324.tar.gz?algorithm=RSA-SHA256&expires=1697436413&keyId=%2Felipse%2Fpiper%2Fkeys%2F9f%3Aba%3Ae6%3Ab5%3A7d%3A81%3Ab6%3A2c%3A3c%3Adf%3A03%3A6f%3Aad%3A92%3A35%3Acf&signature=ilcuurz8Um63kLD%2BmNZLGeCzqVBq5v2o%2FHsrQGrarbE7Lgh5ZY8q1CRQR3CHcQTURROm86pnQdJpMDnBkGqmUDH3TMJTd%2BUMhjGLh%2BEJ6RpBEXGQKgHuTT97eMp%2FdihSTrkgzrzL2IFK60HuVZ1KrKN9F7uTevKadSt90fLpY2F8bMIQ37Ql5kCMDkAsQidTq2KEIsfny6uyaxRYvbD5oi5mLbUAJgKFc4EEqVC5h2acaSv1p4WnNi5h7FdE8mhVFMV313B0IuAjP551LF35XPQcTn3m9TAuoQ0ghsGqpJAzowij7denyy8HNa9K7%2BExGm%2Bh7i%2BFFJDHmE42B2sC003DaeAHfnPyrqaS06Xs30rqHdPMYC7dJVvGal4NlE86hjSHZaP%2BqATAjMb3%2BvSk3XLqcsJjPZC16lata5RbXpbtipbeePRVdBUM890dgbQZf7Mu6sS8BFJADZlnGekcznDZEOITMMeQ4CZKE1YYtiRgsEFXbkV2ZK8fZw5iib77 | tar -C tmp/ -zxvf - &&
          rm -rf /opt/server && cp -R /opt/tmp/tmp/server /opt && rm -rf /var/www/client && cp -R /opt/tmp/tmp/client /var/www/ &&
          systemctl restart crucible"
